body{
    background-color: #f2f2f2;
    padding-bottom: 20vw;
}
.swiper-pagination-bullet-active{
    background-color: #feb401;
}
.swiper-pagination-bullet{
    opacity: 1;
}
@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_opcav70pe9h.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_opcav70pe9h.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_opcav70pe9h.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_opcav70pe9h.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_opcav70pe9h.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_opcav70pe9h.svg#AlibabaPuHuiTiM') format('svg'); /* iOS 4.1- */
}
.goodsTitle{
    font-family: "webfont" !important;
    background-color: #ffffff;
    font-size: 4.4vw;
    margin-top: 0.4vw;
    padding: 3.2vw 3.2vw;
}
.goodsMain{
    background-color: #ffffff;
    font-size: 4.8vw;
    overflow: hidden;
    margin-top: 0.4vw;
    color: #999999;
    padding: 1.3333vw 3.2vw;
}
.num{
    font-size: 4.8vw;
    color: #f9ab10;
    font-weight: 600;
}
.unit{
    font-size: 3vw;
    color: #f9ab10;
}
.originalPrice{
    display: inline-block;
    font-size: 3vw;
    text-decoration: line-through;
    font-weight: 100;
    margin-left: 2vw;
}
.exchangeState{
    font-size: 3vw;
    float: right;
    margin-top: 2vw;
}
.sendBox{
    background-color: #ffffff;
    font-size: 3.6vw;
    overflow: hidden;
    margin-top: 0.4vw;
    color: #676767;
    padding: 2vw 3.2vw;
}
.freight{
    margin-left: 1.3333vw;
}
.from{
    float: right;
}
.goodsInfo{
    background-color: #ffffff;
    padding-bottom: 2vw;
    margin-bottom: 3.2vw;
}
.tips{
    font-size: 3.2vw;
    color: #000000;
    background-color: #ffffff;
    padding: 2vw 4vw;
}
.tips p{
    padding: 1.2vw 0;
}
.buyBox{
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
}
.name{
    font-size: 3.6vw;
    font-weight: 600;
}
.num2{

    font-size: 5.2vw;
    color: #ed5564;
    font-weight: 600;
}
.unit2{
    font-size: 3.6vw;
    color: #ed5564;
}
.buyLeft{
    display: inline-block;
    float: left;
    padding: 5vw 6.6667vw;
}
.sendBuy{
    display: inline-block;
    color: #ffffff;
    font-size: 4vw;
    float: right;
    padding: 6vw 16vw;
}
.canBuy{
    background-color: #ed5564!important;
}
.cantBuy{
    background-color: #a0a0a0!important;
}
