body{
    background-color: #ffffff;
}
.content{
    padding: 0.8rem 0.5rem;
}
.content ul{
    overflow: hidden;
}
.buyTime{
    font-size: 0.33rem;
    color: #b5b5b5;
    letter-spacing: 0.05rem;
    margin-bottom: 0.25rem;
}
.mr-15{
    margin-right: 0.1rem;
}
.recordIcon{
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    float: left;

}
.infoMain{
    height: 0.5rem;
    float: left;
    margin-left: 0.3rem;
}
.name{
    font-size: 0.4rem;
    color: #000000;
    padding-right: 1.8rem;
    margin-bottom: 0.2rem;
}
.consume{
    float: left;
    font-size: 0.35rem;
    color: #000000;
    padding-left: 1rem;
}
.num{
    font-size: 0.32rem;
    color: #b5b5b5;
}
.infoBox{
     padding: 0.3rem 0;
    margin-bottom: 0.3rem;
}
.info{
    overflow: hidden;
}
